/* comments in CSS work like this */
/* for each element, there is a link to the mdn web docs, explaining what it does */
body {
    display: flex;    		   	/*  https://developer.mozilla.org/en-US/docs/Web/CSS/display */		
    justify-content: center;	/*  https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content */
    align-items: center;		/*  https://developer.mozilla.org/en-US/docs/Web/CSS/align-items */
    height: 100vh;				/* 	https://developer.mozilla.org/en-US/docs/Web/CSS/height */
    							/*  vh = viewport height; 
    								this is a percentage - in this case, 100%
    								saying 100vh is saying 'stretch from bottom to top of screen */
    background-color: #f0f0f0;  /*  https://developer.mozilla.org/en-US/docs/Web/CSS/background-color */
    							/*  color can be hex, keyword, rgb, rgba, hsl or hsla */
}

canvas {
    border: 2px solid #000;		/* https://developer.mozilla.org/en-US/docs/Web/CSS/border */
    background-color: #fff;     /*  https://developer.mozilla.org/en-US/docs/Web/CSS/background-color */
}